[Unit]
Description=WebChat
After=network.target

[Service]
Type=simple
User=test
WorkingDirectory=/webchat
ExecStart=/usr/bin/python3 /webchat/server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
